html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #787878;
  font-family: 'open Sans', sans-serif;
  font-weight: 300;
  line-height: 2rem;
}


.container {
  width: 1100px;

}
/**************************** header ****************************/
.header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: MediumAquamarine;
  background-color: white;
  border-bottom: 1px solid grey;
  padding: 10px 30px;
  position: fixed;
  z-index: 5;
}

.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 2rem;
}

nav ul a{
  margin: 0 1.5rem;
  font-size: 1.4rem;
  color: grey;
}

.navigation {

  margin-top:0.3rem;
}

/**************************** content ****************************/
main {
  margin-top: 10rem;
}

.text {
  width: 75%;
}

.text h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: black;

}

#star {
  margin-top: -1.6rem;
  font-size: 1rem;
  font-style: italic;
}

.text h2 {
  font-size: 2.4rem;
  font-weight: 400;
  color: black;
  margin-bottom: 1rem;
}

.text p {
  font-size: 1.3rem;
  color: grey;
}

.text-section {
  margin: 4rem 0;
}




/**overview***/
.compare-img img{
  width: 49%;
}
.compare-tag {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  color: grey;
}

/***evaluation***/
.eval {
  display: flex;
}

.eval .eval-text{
  width: 58%;
  margin-left: 2rem;

}

.eval-text p{
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 3rem 0;
  color: #6ac4c4;

}

.img img{
  width: 100%;
  border: 1px dotted #6ac4c4;
}

/***organization***/

.org-img{
  margin: 1.5rem 0;
  width: 100%;
  margin-bottom: 3.5rem;
}

.org-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;

}

#org img{
  width: 30%;
}

#fold img{
  width: 70%;

}

#twoside img{
  width: 70%;
}

/***aesthetics and discoverbility***/
#pages img{
  width: 100%;
}

/***final thoughts****/
#final a {
  color: #6ac4c4;
  text-decoration: underline;
}


/**************************** footer ****************************/
.footer {
  height: 7rem;
  margin-top: 4rem;
  padding-top: 1rem;
  border-top: 1px solid lightgrey;
}

.footer p {
  font-size: 0.8rem;
  color: grey;
}
